.centered{
    display: flex;
    justify-content: center;
}

.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 40px;
    gap: 20px;
    align-self: center;
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.block__btn-container{
    width: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__login{
    align-self: center;
}

.link__login-text{
    text-decoration: underline;
}


@media(max-width:500px) {
    .login__container{
        width: calc(100% - 10px);
    }
}