.project__global-container{
    display: flex;
    justify-content: center;
}

.project__container-edit{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.project__local-container{
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 43px;
    width: 100%;
}

@media (max-width:800px) {
    .project__container-edit{
        grid-template-columns: 1fr;
    }

    .project__local-container{
        width: inherit;
    }
}

.inpt{
    margin-top: 80px;
}