.photo__container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 43px;
    width: 725px!important;
}

.global-photo__container{
    display: flex;
    justify-content: center;
}

.photo__container-local{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.photo__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 36px;
}



@media (max-width: 700px) {
    .photo__content{
        grid-template-columns: 1fr;
    }
}

.input__name-photo{
    width: 100%;
}

.add_photo{
    width: 100%;
    padding: 0;
    height: 68px;
}