.map-screen__container{
    border-radius: 10px;
    gap: 43px;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    width: 100%;
}

.map-screen__global-container{
    display: flex;
    justify-content: center;
}



@media (max-width: 800px) {
    .map-screen-container{
        width: calc(100vw - 80px);
    }
}

.map-container{
    width: 800px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}