.centered{
    display: flex;
    justify-content: center;
    gap: 0px;
}

.global-container{
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    min-height: 100vh;
}

@media (max-width: 900px) {
    .global-container{
        width: calc(100vw - 10px);
    }
}

.foot__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    justify-content: space-between;
}