.setDescription__global-container{
    display: flex;
    justify-content: center;
}

.setDescr__container{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 43px;

}

@media (max-width: 650px) {
    .setDescr__container{
        width: 100%;
        padding:0!important;
    }
}