.set-logo__global-container{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    
}

.set-logo__header{
    display: flex;
    gap: 27px;
    align-items: center;
}

.set-logo__container{
    margin-top: 43px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.image-upload__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-logo__footer{
    display: inline-flex;
    gap: 27px;
    align-items: center;
    align-self:flex-end;
}

.photo__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}


.delete{
}

.delete__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-logo__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.img-upl{
    background-color: #D04E54;
    color: white!important;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}